baseURL: "https://www.svenshen.com/"
title: "Call me Sven"
defaultContentLanguage: en
defaultContentLanguageInSubdir: true
pagination.pagerSize: 5
theme: PaperMod
copyright: "[Call me Sven](http://www.svenshen.com)"



# https://github.com/adityatelange/hugo-PaperMod/wiki/Variables
params:
  title: "Call me Sven"
  description: "Coming soon!"
  keywords: [Blog, Portfolio, PaperMod]
  author: Sven
  DateFormat: "January 2, 2006"
  defaultTheme: auto # dark, light
  disableThemeToggle: false

  ShowReadingTime: true
  ShowPostNavLinks: true
  ShowCodeCopyButtons: true
  searchHidden: false
  ShowWordCount: true
  UseHugoToc: true
  displayFullLangName: true
  disableSpecial1stPost: false
  disableScrollToTop: true
  comments: false
  hidemeta: false
  hideSummary: false
  showtoc: false
  tocopen: false

  label:
    text: "Home"
    icon: /apple-touch-icon.png
    iconHeight: 35

  # profile-mode
  profileMode:
    enabled: True # needs to be explicitly set
    title: "Call me Sven"
    subtitle: "Coming soon!"
    imageUrl: "images/keyboard.jpg"
    imageWidth: 250
    imageHeight: 250
    imageTitle: Keyboard
    buttons:
      - name: Posts
        url: posts
      - name: Tags
        url: tags
      - name: About
        url: about
      # - name: Resume
      #   url: resume

  # # home-info mode
  # homeInfoParams:
  #   enabled: false
  #   Title: "Hi there \U0001F44B"
  #   Content: Welcome to my blog

  socialIcons:
    - name: github
      url: "https://github.com/sven0219"
    - name: linkedin
      url: "https://www.linkedin.com/in/sven-shen-wh"
    # - name: zhihu
    #   url: "https://zhihu.com/people/shen_ben"
    # - name: bilibili
    #   url: "https://space.bilibili.com/96239398"
    # - name: moments
    #   url: "https://moments.svenshen.com/"
    - name: email
      url: "mailto:hi@svenshen.com"

  cover:
    hidden: true # hide everywhere but not in structured data
    hiddenInList: true # hide on list pages and home
    hiddenInSingle: true # hide on single page

  editPost:
    URL: "https://github.com/sven0219/Call-me-Sven/tree/main/content"
    Text: "Suggest Changes" # edit text
    appendFilePath: true # to append file path to Edit link

  # for search
  # https://fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: true
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    keys: ["title", "permalink", "summary", "content"]
outputs:
    home:
      - HTML
      - RSS
      - JSON

languages:
  en:
    languageName: English
    languageCode: en-us
    weight: 1
    params:
      title: "Call me Sven"
      description: "Coming soon!"
      label:
        text: "Home"
        icon: /apple-touch-icon.png
        iconHeight: 35
      profileMode:
        enabled: True
        title: "Call me Sven"
        subtitle: "Coming soon!"
        imageUrl: "images/keyboard.jpg"
        imageWidth: 250
        imageHeight: 250
        imageTitle: Keyboard
        buttons:
          - name: Posts
            url: posts
          - name: Tags
            url: tags
          - name: About
            url: about
    menu:
      main:
        - identifier: categories
          name: Categories
          url: /categories/
          weight: 10
        - identifier: tags
          name: Tags
          url: /tags/
          weight: 20
        - identifier: about
          name: About
          url: /about/
          weight: 28
        - identifier: archives
          name: Archives
          url: /archives/
          weight: 27
        - identifier: Search
          name: Search
          url: /search/
          weight: 30
  zh:
    languageName: 中文
    languageCode: zh-cn
    weight: 2
    params:
      title: "Call me Sven"
      description: "即将上线！"
      label:
        text: "主页"
        icon: /apple-touch-icon.png
        iconHeight: 35
      profileMode:
        enabled: True
        title: "Call me Sven"
        subtitle: "即将上线！"
        imageUrl: "images/keyboard.jpg"
        imageWidth: 250
        imageHeight: 250
        imageTitle: Keyboard
        buttons:
          - name: 文章
            url: posts
          - name: 标签
            url: tags
          - name: 关于
            url: about
    menu:
      main:
        - identifier: categories
          name: 分类
          url: /categories/
          weight: 10
        - identifier: tags
          name: 标签
          url: /tags/
          weight: 20
        - identifier: about
          name: 关于
          url: /about/
          weight: 28
        - identifier: archives
          name: 归档
          url: /archives/
          weight: 27
        - identifier: Search
          name: 搜索
          url: /search/
          weight: 30


# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
markup:
  highlight:
    # anchorLineNos: true
    codeFences: true
    guessSyntax: true
    lineNos: true
    # noClasses: false
    style: monokai
